/* Base styles ====================================================================================================== */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 1.2;
	width: 1024px;
	margin: 0 auto;
	color: #222;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

/* Remove default fieldset styles */
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Allow only vertical resizing of textareas */
textarea {
	resize: vertical;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Browser Upgrade and Enable JavaScript Prompt ===================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	padding: 0.4em 0.2em;
	text-align: center;
	color: #654f28;
	border: 0.1em solid #faebcc;
	background: #fcf8e3;
}

.browserupgrade a {
	font-weight: bold;
	color: #654f28;
}

.enablejavascript {
	margin: 0.2em 0;
	padding: 0.4em 0.2em;
	text-align: center;
	color: #79302f;
	border: 0.1em solid #ebccd1;
	background: #f2dede;
}

.enablejavascript a {
	font-weight: bold;
	color: #79302f;
}

/* Author's custom styles =========================================================================================== */

/* COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON-COMMON--- */
.commonMainBox {
	width: 1000px;
	margin: 5px auto;
	padding: 5px;
	border: 1px dashed #ccc;
	background: #fff;
}

.commonWebpageTitle {
	font-size: 1.8em;
	margin: 15px;
	text-align: center;
}

.commonMenu {
	margin: 10px;
	text-align: center;
}

.commonMenu span {
	margin: 0 8px;
}

.commonMenu span a {
	color: #0066cc;
}

/* INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX-INDEX- */
/* Logo + Name */
.indexHead {
	margin-bottom: 20px;
}

.indexHead img {
	display: block;
	width: 256px;
	height: 128px;
	margin: 0 auto;
}

.indexHead h1 {
	font-size: 1.8em;
	margin: 5px;
	text-align: center;
}

/* Sections */
.indexSection {
	margin: 5px 0 40px;
}

.indexSection h2 {
	font-size: 1.3em;
	margin: 5px 0;
	padding: 5px;
}

.indexSection ul {
	margin: 5px 0;
}

.indexSection ul li a {
	color: #0066cc;
}

/* People */
.indexPeople {
	margin: 5px 0 40px;
	overflow: hidden;
}

.indexPeople h2 {
	font-size: 1.3em;
	margin: 5px 0;
	padding: 5px;
}

.indexPeople ul {
	margin: 5px 0;
}

.indexPeople ul li {
	list-style-type: none;
}

.indexPeople a {
	color: #222;
}

.indexPeopleProgrammer{
	width: 380px;
	float: left;
}

.indexPeopleSupervisor {
	width: 620px;
	float: left;
}

/* Footer */
.indexFooter {
	margin-top: 50px;
	text-align: center;
}

.indexFooter span {
	margin: 0 10px;
}

.indexFooter span a {
	color: #222;
}

/* Bibliography */
.indexBibliography li {
	margin-bottom: 5px;
}

/* MODELER-MODELER-MODELER-MODELER-MODELER-MODELER-MODELER-MODELER-MODELER-MODELER-MODELER-MODELER-MODELER-MODELER--- */
/* Input */
.modelerInput {
	overflow: hidden;
	margin: 10px 0;
}

/* Input URLArguments */
#modelerInputURLArguments {
	display: none;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: justify;
	text-justify: inter-word;
	color: #2f5479;
	border: 1px solid #91b2d4;
	background: #dee8f2;
}

#modelerInputURLArguments p {
	margin: 0;
}

#modelerInputURLArguments p:first-child {
	font-weight: bold;
	margin-bottom: 5px;
}

#modelerInputURLArguments p:last-child {
	padding-left: 10px;
}

#modelerInputURLArguments button {
	font-weight: bold;
	margin-left: 5px;
	padding: 2px 5px;
	color: #333;
	border: 1px solid #a5a5a5;
	background: linear-gradient(#f8f8f8, #ddd);
	cursor: pointer;
}

#modelerInputURLArguments button:hover {
	border: 1px solid #6e6e6e;
}

#modelerInputURLArguments button:active {
	background: linear-gradient(#ddd, #f8f8f8);
}

#modelerInputURLArguments button:first-child {
	opacity: 0.7;
}

#modelerInputURLArguments button:first-child:hover {
	opacity: 1;
}

/* Input Profiles */
.modelerInputProfiles {
	font-size: 0;
	margin-bottom: 35px;
}

.modelerInputProfiles label {
	display: inline-block;
	margin-left: 1px;
	cursor: pointer;
}

.modelerInputProfiles img {
	margin-bottom: 10px;
	border: 1px solid #aaa;
}

.modelerInputProfiles img:hover {
	border: 1px solid #1B273F;
}

.modelerInputProfiles input {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.modelerInputProfile1img, .modelerInputProfile2img, .modelerInputProfile3img {
	width: 151px;
	height: 151px;
}

.modelerInputProfile4img {
	width: 227px;
	height: 151px;
}

.modelerInputProfile5img {
	width: 303px;
	height: 151px;
}

/* Input Arguments */
.modelerInputArguments {
	margin-bottom: 35px;
}

.modelerInputArguments td:first-child {
	font-weight: bold;
	text-align: right;
}

.modelerInputArguments input {
	width: 150px;
	padding: 5px;
	border: 1px solid #ccc;
	vertical-align: middle;
}

.modelerInputArguments input:hover {
	border: 1px solid #1B273F;
}

.modelerInputArguments input:focus {
	border: 1px solid #0066cc;
	outline: 1px solid #0066cc;
}

/* Input Submits */
.modelerInputSubmits {
	display: block;
	overflow: hidden;
	padding: 5px;
}

.modelerInputSubmitsLeft {
	display: inline-block;
	float: left;
	margin: 3px 0;
}

.modelerInputSubmitsLeft input {
	width: 300px;
	padding: 5px;
	border: 1px solid #ccc;
	vertical-align: middle;
}

.modelerInputSubmitsLeft input:hover {
	border: 1px solid #1B273F;
}

.modelerInputSubmitsLeft input:focus {
	border: 1px solid #0066cc;
	outline: 1px solid #0066cc;
}

.modelerInputSubmitsLeft button {
	margin-right: 5px;
	vertical-align: middle;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	border: 1px solid #ccc;
	background: #404040;
}

.modelerInputSubmitsLeft button:hover {
	border: 1px solid #1B273F;
}

.modelerInputSubmitsLeft button:active {
	background: #cc7600;
	border: 1px solid #402400;
	box-shadow: inset 0 0 10px 2px #402400;
}

.modelerInputSubmitsRight {
	display: inline-block;
	float: right;
}

.modelerInputSubmitsRight label {
	margin-right: 5px;
}

.modelerInputSubmitsRight label, .modelerInputSubmitsRight input, .modelerInputSubmitsRight button {
	vertical-align: middle;
	cursor: pointer;
}

.modelerInputSubmitsRight label, .modelerInputSubmitsRight button {
	font-weight: bold;
}

.modelerInputSubmitsRight button {
	padding: 8px;
	color: #fff;
	border: 1px solid #ccc;
	background: #0066cc;
}

.modelerInputSubmitsRight button:hover {
	border: 1px solid #1B273F;
}

.modelerInputSubmitsRight button:active {
	background: #cc7600;
	border: 1px solid #402400;
	box-shadow: inset 0 0 10px 2px #402400;
}

/* Output Error */
#modelerOutputError {
	display: none;
	margin-top: 10px;
	padding: 5px;
	text-align: justify;
	text-justify: inter-word;
	color: #79302f;
	border: 1px solid #d4919c;
	background: #f2dede;
}

#modelerOutputError p {
	margin: 0;
}

#modelerOutputError p:first-child {
	font-weight: bold;
	margin-bottom: 5px;
}

#modelerOutputError p:last-child {
	padding-left: 10px;
}

/* Output Values */
#modelerOutputValues {
	display: none;
	margin-top: 10px;
	padding: 5px;
	border: 1px solid #ccc;
}

#modelerOutputValues td:first-child {
	font-weight: bold;
	text-align: right;
}

#modelerOutputValues input {
	width: 80px;
	padding: 5px;
	color: #222;
	border: 0;
	outline: 0;
}

#modelerOutputValues input:disabled {
	color: #222;
	background: #fff;
}

/* Plots */
#modelerOutputPlot2D, #modelerOutputPlot3D {
	display: none;
	width: 998px;
	height: 650px;
	margin: 10px 0 0;
	border: 1px solid #aaa;
}

/* DOCUMENTATION-DOCUMENTATION-DOCUMENTATION-DOCUMENTATION-DOCUMENTATION-DOCUMENTATION-DOCUMENTATION-DOCUMENTATION--- */
/* Table of Contents */
.documentationTOC {
	margin: 10px 0;
}

.documentationTOC p {
	margin: 15px 0 10px;
	padding: 0 5px;
	font-weight: bold;
	font-size: 1.3em;
}

.documentationTOC ol {
	margin: 0;
}

.documentationTOC li {
	padding: 2px;
}

.documentationTOC a {
	color: #0066cc;
}

/* Section */
.documentationSection {
	margin: 10px 0;
}

.documentationSection p:first-child {
	margin: 15px 0 10px;
	padding: 0 5px;
	font-weight: bold;
	font-size: 1.3em;
}

.documentationSection p {
	margin: 0;
	padding: 2px 5px 2px 10px;
}

.documentationSection ul {
	margin: 0;
}

.documentationSection li {
	padding: 2px;
}

.documentationSection table {
	margin-left: 30px;
	margin-top: 5px;
	border: 1px solid #222;
}

.documentationSection table tr, .documentationSection table td, .documentationSection table th {
	vertical-align: middle;
	text-align: center;
	padding: 1px 5px;
	border: 1px solid #222;
}

/* Helper classes =================================================================================================== */

/* https://stackoverflow.com/a/4407335 */
.noselect {
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	-webkit-user-select: none; /* Safari */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	-webkit-touch-callout: none; /* iOS Safari */
}

/* Hide visually and from screen readers */
.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	white-space: nowrap; /* 1 */
	border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	position: static;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
	white-space: inherit;
}

/* Hide visually and from screen readers, but maintain layout */
.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
	display: table; /* 2 */
	content: " "; /* 1 */
}

.clearfix:after {
	clear: both;
}

/* Media Queries for Responsive Design ============================================================================== */
/* These examples override the primary ('mobile first') styles. Modify as content requires. */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* Print styles ===================================================================================================== */
/* Inlined to avoid the additional HTTP request: https://www.phpied.com/delay-loading-your-print-css/ */

@media print {
	*, *:before, *:after {
		color: #000 !important; /* Black prints faster */
		background: transparent !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/* Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}
